.test {
    color: green;
    background-color: red;
    margin-left: 50px;
}

.my-level {
    padding: 50px;
    color: yellow;
    background-color: black;
}

body {
    background-color: gray;
}

.my-table {
    border: solid;
    border-color: black;
}

.test tr, td{
border: 2px solid white;
}
